@model ThakyCompany.Models.Product

@{
    ViewBag.Title = "Sửa sản phẩm";
    Layout = "/Views/Shared/_ManageLayout.cshtml";
}

<h2>SỬA SẢN PHẨM</h2>
@using (Html.BeginForm("Edit", "ProductManage", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        <div>
            @Html.ActionLink("Về danh sách", "Index")
        </div>
        <hr />
        TIẾNG VIỆT
        <hr />
        <div class="form-group">
            @*@Html.LabelFor(model => model.ViTitle, new { @class = "control-label col-md-2" })*@
            <label for="ViTitle" class="control-label col-md-2">Tên sản phẩm</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ViTitle, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ViTitle)
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.ViDetail, new { @class = "control-label col-md-2" })*@
            <label for="ViDetail" class="control-label col-md-2">Chi tiết sản phẩm</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.ViDetail)
                @Html.ValidationMessageFor(model => model.ViDetail)
            </div>
        </div>
        <hr />
        TIẾNG ANH
        <hr />
        <div class="form-group">
            @*@Html.LabelFor(model => model.EnTitle, new { @class = "control-label col-md-2" })*@
            <label for="EnTitle" class="control-label col-md-2">Tên sản phẩm</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.EnTitle, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EnTitle)
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.EnDetail, new { @class = "control-label col-md-2" })*@
            <label for="EnDetail" class="control-label col-md-2">Chi tiết sản phẩm</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.EnDetail)
                @Html.ValidationMessageFor(model => model.EnDetail)
            </div>
        </div>
        <hr />

        <div class="form-group">
            @*@Html.LabelFor(model => model.Image, new { @class = "control-label col-md-2" })*@
            <label for="Image" class="control-label col-md-2">Hình sản phẩm</label>
            <div class="col-md-10">
                <input type="file" id="productImage" name="productImage" onchange="loadFile(event)" />
                <h4 class="text-danger">(Kích thước hình phù hợp : 194px × 242px)</h4>
                <img id="output" src="@Model.Image" />
                <script>
                    var loadFile = function (event) {
                        var reader = new FileReader();
                        reader.onload = function () {
                            var output = document.getElementById('output');
                            output.src = reader.result;
                        };
                        reader.readAsDataURL(event.target.files[0]);
                    };
                </script>
            </div>
        </div>

        <div class="form-group">
            <label for="Actived" class="control-label col-md-2">Giá</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price)
                @Html.ValidationMessageFor(model => model.Price)
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.Actived, new { @class = "control-label col-md-2" })*@
            <label for="Actived" class="control-label col-md-2">Hiển thị</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Actived)
                @Html.ValidationMessageFor(model => model.Actived)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-default" />
            </div>
        </div>
    </div>
    <script>

        function Config(id) {
            CKEDITOR.replace(id, {
                filebrowserBrowseUrl: '/ckeditor/ckfinder/ckfinder.html',
                filebrowserImageBrowseUrl: '/ckeditor/ckfinder/ckfinder.html?Type=Images',
                filebrowserFlashBrowseUrl: '/ckeditor/ckfinder/ckfinder.html?Type=Flash',
                filebrowserUploadUrl: '/ckeditor/ckfinder/core/connector/aspx/connector.aspx?command=QuickUpload&type=Files',
                filebrowserImageUploadUrl: '/ckeditor/ckfinder/core/connector/aspx/connector.aspx?command=QuickUpload&type=Images',
                filebrowserFlashUploadUrl: '/ckeditor/ckfinder/core/connector/aspx/connector.aspx?command=QuickUpload&type=Flash'
            });
        }

        Config("ViDetail");
        Config("EnDetail");
    </script>
}

<div>
    @Html.ActionLink("Về danh sách", "Index")
</div>
<hr />