@using ThakyCompany.Language

<div class="panel panel-default contentMinHeight">
    <div>
        <h3 class="panel-heading panel-title boxtitle">
            @Resource.Contact
        </h3>
    </div>
    <div class="pagecontent ">
        <p>
            @Resource.CompanyName<br />
            @Resource.AddressValue<br />
            @Resource.Phone<br />
            Email:<a href="mailto:@Resource.Email"> @Resource.Email</a>
            <br />
            Website: <a href="http://thakycompany.com" target="_blank">http://thakycompany.com</a>
        </p>
    </div>
</div>