@using ThakyCompany.Language
@{
    Layout = "/Views/Shared/_TopLayout.cshtml";
}
<div class="panel panel-default contentMinHeight">
    <div>
        <h3 class="panel-heading panel-title boxtitle">
            @Resource.Contact
        </h3>
    </div>
    <div class="pagecontent ">
        <p>
            @Resource.CompanyName<br />
            @Resource.AddressValue<br />
            Skype: <a href="skype:@Resource.Skype?chat">@Resource.Skype</a><br />
            Facebook: <a href="https://www.facebook.com/ha.thy.18" target="_blank">@Resource.FaceBook</a><br/>
            Email:<a href="mailto:@Resource.Email"> @Resource.Email</a><br/>
            @Resource.Phone<br/>
            Website: <a href="http://moringavina.com/" target="_blank">http://moringavina.com/</a>
        </p>
    </div>
</div>