@using ThakyCompany.Language;
@model List<ThakyCompany.Models.ProductDto>
@{
    ViewBag.Title = "Index";
    Layout = "/Views/Shared/_Layout_Product.cshtml";
}

<div class="panel panel-default contentMinHeight">
    <div>
        <h3 class="panel-heading panel-title boxtitle">
            @Resource.NewProducts
        </h3>
    </div>
    <div class="pagecontent ">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-sm-4 col-md-4 margin-bottom-10">
                    <div class="thumbnail text-center">
                        <a href="@Url.Action("Detail", new { id = item.ID })" title="@item.Title">
                            <img src="/Content/Images/Products/@item.Image" alt="@item.Title" />
                        </a>
                        <div class="caption text-center">
                            <h5><strong>@Html.ActionLink(item.Title, "Detail", new { id = item.ID })</strong></h5>
                            <h5><strong>@Resource.Price : <span class="price"> @item.Price </span></strong></h5>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    @*<nav class="text-center">
            <ul class="pagination pagination-sm">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li class="disabled"><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>*@
</div>